.main_section {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
}
.form_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}